* {
  margin: 0;
  padding: 0;
  outline: 0;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  color: #444;
}
.wrapper {
  width: 960px;
  margin: 0 auto;
}
.clr {
  overflow: hidden;
}
.headsection,
.footsection {
  background: #ddd;
  padding: 10px;
  text-align: center;
}
.headsection h2,
.footsection h2 {
}
.content {
  border: 15px solid #ddd;
  min-height: 500px;
}
.box {
  margin: 30px auto 0;
  border: 5px solid #999;
  padding: 20px;
  width: 800px;
  height: 200px;
  overflow: scroll;
}
.box ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.box ul li {
  display: block;
  border-bottom: 1px dashed #ddd;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.box ul li:last-child {
  border-bottom: 0px dashed #ddd;
}
.box span {
  color: #888;
}
.shoutform {
  margin: 20px auto 10px;
  border: 5px solid #999;
  padding: 20px;
  width: 800px;
}
input[type="text"] {
  padding: 5px;
  font-size: 18px;
  width: 650px;
  margin-bottom: 10px;
}
input[type="submit"] {
  background: #666;
  border: 1px solid #444;
  color: #fff;
  cursor: pointer;
  font-size: 25px;
  padding: 5px 20px;
}
